*/00_logs/
*/00_slurm/.cache/
*/00_slurm/DMRichR_Kostas.slurm
*/00_std_err_logs/
*/00_time_logs/
*/01_genomes/
*/01_raw_data/
*/01_raw_sequences/
*/01_raw_sequences
*/02_trimmed/
*/03_bam_files/
*/03_screened/
*/04_aligned/
*/04_multiqc/
*/05_DEGs/
*/06_WGCNA/
*/05_deduplicated/
*/05_gene_counts/
*/06_methylation/
*/06_nt_coverage/
*/06_sorted/
*/07_size_metrics/
*/08_cytosine_reports/
*/09_multiqc/
*/10_DMRichR/
*/10_DMRichR_SexCombined/
*/Comethyl_Results/*.pdf
*/Comethyl_Results/*.rds
*/Comethyl_Results/*.txt
*/Comethyl_Results/*.bed
*/Comethyl_Results/*.xlsx
*/logs/
*/task_samples.yaml
*/task_samples.yml
*/temp/
*/.*ipynb_checkpoints/
rnaseq/overlapping_genes_analysis.csv
integrative_analysis/
