*/01_raw_sequences/
*/01_raw_sequences
*/00_std_err_logs/
*/01_genomes/
*/02_trimmed/
*/00_logs/
*/01_raw_data/
*/03_bam_files/
*/03_screened/
*/.ipynb_checkpoints/
*/04_multiqc/
*/05_gene_counts/
*/05_DEGs/
.snakemake/
rnaseq/overlapping_genes_analysis.csv
rnaseq/06_WGCNA/
rnaseq/05_DEGs/

